# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Plots and data files
*.png
*.csv
*.xlsx

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
