[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
yfinance = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
python-dotenv = "*"
google-generativeai = "*"
plotly = "*"
requests = "*"
tkcalendar = "*"
pytz = "*"
beautifulsoup4 = "*"
tavily-python = "*"

[dev-packages]

[requires]
python_version = "3.13"
